/* Include All Fonts */
@font-face {
    font-family: 'Megrim-Regular';
    src: url('../fonts/Megrim-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'HomemadeApple-Regular';
    src: url('../fonts/HomemadeApple-Regular.ttf');
}

@font-face {
    font-family: 'AmaticaSC-Bold';
    src: url('../fonts/AmaticaSC-Bold.ttf');
}

@font-face {
    font-family: 'AmaticaSC-Regular';
    src: url('../fonts/AmaticaSC-Regular.ttf');
}

@font-face {
    font-family: 'Dekko-Regular';
    src: url('../fonts/Dekko-Regular.ttf');
}

@font-face {
    font-family: 'Mali-Regular';
    src: url('../fonts/Mali-Regular.ttf');
}