@import '../../assets/css/color/color.scss';

#profilePage {
  padding: 0 30px;

  @media(max-width: 767px) {
    padding: 0px 10px;
  }

  #pHeader {
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    margin-bottom: 15px;

    #pBG {
      position: relative;
      background-size: cover;
      background-position: 100% 0px;
      background-repeat: no-repeat;
      height: 360px;
      width: 100%;

      @media (max-width: 767px) {
        margin-bottom: 100px;
      }

      #profilePic {
        text-align: center;
        position: relative;
        color: #515365;
        top: 275px;
        z-index: 1;

        #locate-img {
          position: absolute;
          top: 10px;
          left: 10px;

          i {
            color: #fff;
            padding: 5px;
            display: block;
            cursor: pointer;

            &:hover {
              color: $mainColor;
            }
          }

        }

        img {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          border: 4px solid #fff;
          cursor: pointer;
          transition: all .3s ease-in-out;

          &:hover {
            box-shadow: 1px 1px 20px rgba(0,0,0,.5);
            transform: scale(1.1,1.1);
          }
        }

        h3 {
          color: #515365;
          cursor: pointer;
          font-size: 1.375rem;
          font-weight: 700;
          margin-bottom: 0;
          line-height: 1.7;
          transition: all .2s ease-in-out;

          &:hover {
            color: $mainColor;
          }
        }

        p {
          font-size: .812rem;
          font-weight: 400;
          line-height: 1.5;
          color: #888da8;
        }
      }
      #changeBG {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 45px;
        right: 0;
        font-size: 23px;

        i {
          cursor: pointer;
          z-index: 20;
          color: #fff;
          font-size: 15px;
          background-color: rgba(0,0,0,.2);
          padding: 5px;
          border-radius: 5px;

          &:hover {
            color: $mainColor!important;
          }
        }
      }
    }

    #pNav {

      ul {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        z-index: 10;

        li {
          margin: 40px 0 30px 0;

          a {
            transition: all .15s ease;
            font-size: 14px;
            font-weight: 700;
            color: #9a9fbf;
            display: block;
            cursor: pointer;

            &:hover {
              color: $mainColor;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
