@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
:root {
  --mainColor: #5CDB95;
  --secondryColor: #38a9ff;
  --thirdColor: tomato;
  --navbarbgcolor: #3f4257;
  --navbaracolor: #515365; }

/* Position of Navs And Side */
html, body {
  background-image: url("../images/landing-users.png");
  background-color: #edf2f6 !important;
  animation: move 50s infinite ease; }

@keyframes move {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 1000px 1000px; } }
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px !important; }

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border: 1px solid #fff;
  border-radius: 5px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.overlay {
  background-color: rgba(0, 0, 0, 0.7); }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5CDB95;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1; }

.spinner {
  width: 40px;
  height: 40px;
  background-color: #fff;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
#error-msg {
  padding: 5px 15px;
  max-width: 440px;
  margin: 10px;
  width: 100%;
  border: 1px solid crimson;
  background-color: crimson;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  font-weight: 700; }

#register {
  position: relative;
  max-width: 440px;
  min-height: 580px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  overflow: hidden; }

#register .reg-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 85%;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }
  #register .reg-left div {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .5s ease; }
    #register .reg-left div:hover {
      background-color: var(--secondryColor); }
      #register .reg-left div:hover i {
        color: #fff; }

.reg-active {
  background-color: var(--mainColor); }
  .reg-active i {
    color: #fff; }

i {
  color: var(--mainColor); }

#register #reg-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 15%; }
  #register #reg-right > div:last-child {
    display: none; }
  #register #reg-right > div {
    position: absolute;
    height: 100%;
    width: 100%; }
    #register #reg-right > div h3 {
      padding: 15px 0 15px 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #register #reg-right > div form {
      padding: 15px; }
    #register #reg-right > div #registerNow {
      cursor: pointer;
      text-decoration: underline;
      color: var(--mainColor); }
    #register #reg-right > div p#orSection {
      width: 50px;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.7);
      background-color: white;
      text-align: center;
      margin: 10px auto;
      position: relative; }
      #register #reg-right > div p#orSection::after, #register #reg-right > div p#orSection::before {
        content: "";
        position: absolute;
        top: 48%;
        height: 1px;
        width: 120px;
        background-color: rgba(0, 0, 0, 0.1); }
      #register #reg-right > div p#orSection::before {
        left: 100%; }
      #register #reg-right > div p#orSection::after {
        right: 100%; }

#forgotPass {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 5555;
  display: none;
  top: 0%; }

a {
  cursor: pointer; }

/*# sourceMappingURL=registeration.css.map */
