@import "color/color.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/* Position of Navs And Side */
html {
  padding: 110px 80px 20px 80px;

  @media (max-width: 770px) {
    padding: 110px 10px 20px 10px;
  }
}
html, body {
  background-color: #edf2f6!important;
  font-family: 'Roboto', sans-serif!important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $mainColor;
  border: 1px solid #fff;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mainColor {
  color: $mainColor;
}

#tiger-newsfeed {
  max-width: 870px;
  margin: auto;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5CDB95;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

// loader
.spinner {

  width: 40px;
  height: 40px;
  background-color: #fff;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}