/* All colors */
@import '../../assets/css/color/color.scss';


/* Colors Class */
.mainColor {
  color: $mainColor;
}

/* Navbar */
#nav-page {
  height: 70px;
  background-color: $navbarbgcolor;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 0 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 1000;

  /* Left Section */
  #left-section {
    align-items: center;
    display: none;

    /* page Title */
    #page-title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      margin: 0px 50px 0px 25px;
      cursor: default;
      display: none;
      max-width: 250px;
      overflow: hidden;

      @media (min-width: 1000px) {
        display: block;
      }
    }

    /* Search Container */
    #search {
      width: 300px;
      background-color: #494c62;
      position: relative;
      height: 100%;
      margin-right: 20px;

      /* Search Input */
      input {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 0;
        outline: 0;
        background-color: #494c62;
        color: #9a9fbf;
        padding: 0 50px 0 10px;
      }

      /* Search icon */
      i {
        position: absolute;
        right: 20px;
        top: 28px;
        color: #9a9fbf;
        cursor: pointer;
      }

      @media (max-width: 810px) {
        width: 200px;
      }

    }

    /* Find Friends */
    #find-friends {
      cursor: pointer;
      height: 100%;
      padding: 25px 0px 25px 20px;
      font-size: 12px;
      font-weight: 500;
      display: inline-block;
      color: #fff;

      &:hover {
        color: $mainColor;
        text-decoration: none;
      }
    }

    @media (min-width: 770px) {
      display: flex;
    }

  }

  /* Right Section */
  #right-section {
    display: flex;

    /* Friend Request Messages And Notification Icons */
    #iconsContainer {
      color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 120px;
      margin: 0 60px 0 0px;
      position: relative;

      /* icons */
      .icons {
        position: relative;

        &:nth-of-type(1) .list-body {
          color: $thirdColor;
        }

        &:nth-of-type(2) .list-body {
          color: $secondryColor;
        }

        &:nth-of-type(3) .list-body {
          color: $mainColor;
        }

        &:nth-of-type(1) .icons-badge,
        &:nth-of-type(1) .list-footer a,
        &:nth-of-type(1) .list-body::-webkit-scrollbar-thumb {
          background-color: $thirdColor;
        }

        &:nth-of-type(2) .icons-badge,
        &:nth-of-type(2) .list-footer a,
        &:nth-of-type(2) .list-body::-webkit-scrollbar-thumb {
          background-color: $secondryColor;
        }

        &:nth-of-type(3) .icons-badge,
        &:nth-of-type(3) .list-footer a,
        &:nth-of-type(3) .list-body::-webkit-scrollbar-thumb {
          background-color: $mainColor;
        }

        /* Badge Icon */
        .icons-badge {
          position: absolute;
          color: #fff;
          width: 19px;
          height: 19px;
          line-height: 19px;
          top: -7px;
          right: -9px;
          font-size: 10px;
          font-weight: 700;
          border-radius: 100%;
          text-align: center;

        }

        /* list Section */
        .list {
          height: 400px;
          box-shadow: 0 0 34px 0 rgba(63, 66, 87, .1);
          background-color: #fff;
          border-radius: 4px;
          position: absolute;
          width: 380px;
          top: 35px;
          right: -180px;
          display: none;

          &::before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: -20px;
            right: 180px;
            border-bottom: 10px solid white;
            border-left: 10px solid transparent;
            border-top: 10px solid transparent;
            border-right: 10px solid transparent;

          }

          @media (max-width: 1150px) {
            top: 35px;
            right: -130px;
            width: 280px;

            &::before {
              right: 130px;
            }
          }

          @media (max-width: 770px) {
            position: fixed;
            top: 70px;
            left: 0px;
            width: 100%;

            &::before {
              display: none;
            }
          }

          .list-header {
            height: 25px;
            width: 100%;
            border-bottom: 1px solid #e6ecf5;
            line-height: 1;
            padding: 0px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
              font-size: 10px;
              text-transform: uppercase;
              color: #515365;
              cursor: pointer;
              transition: all .15s ease;

              &:hover {
                color: $mainColor;
                text-decoration: none !important;
              }
            }

            span {
              font-size: 9px;
              text-transform: uppercase;
              color: #9a9fbf;
            }

          }

          .list-body {
            overflow: auto;
            height: 300px;

            &::-webkit-scrollbar-thumb {
              border: 1px solid #fff;
              border-radius: 5px;
            }

            .list-item {
              height: auto;
              padding: 10px 25px;
              border-bottom: 1px solid #e6ecf5;
              overflow: hidden;
              max-height: 100px;
            }
          }

          .list-footer {
            a {
              width: 100%;
              height: 75px;
              font-size: 12px;
              font-weight: 700;
              color: #fff;
              text-align: center;
              padding: 27px;
              display: inline-block;
            }
          }
        }
      }

      i {
        font-size: 20px;
        cursor: pointer;
        margin-top: 5px;

        &:hover {
          color: $mainColor;
        }
      }

      @media (max-width: 770px) {
        width: 100%;
        margin: 0;
      }
    }

    /* Profile Section */
    #prof-icon {
      display: flex;
      align-items: center;
      display: none;
      padding-right: 15px;

      /* Image */
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
      }

      /* Profile Name And Status */
      #profile-info {
        display: none;
        position: relative;

        /* profile-account */
        #profile-account {
          position: absolute;
          background-color: #fff;
          top: 40px;
          right: 0px;
          width: 240px;
          color: #09c;
          box-shadow: 0 0 34px 0 rgba(63, 66, 87, .1);
          border-radius: 4px;
          height: 340px;
          display: none;

          &::before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: -20px;
            right: 5px;
            border-bottom: 10px solid white;
            border-left: 10px solid transparent;
            border-top: 10px solid transparent;
            border-right: 10px solid transparent;

          }

          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            height: 100%;

            li {
              padding: 10px 5px;
              border-bottom: 1px solid #e6ecf5;

              a {
                i {
                  color: #515365;
                  display: inline-block;
                  margin: 10px;
                }

                span {
                  font-size: 12px;
                  color: #515365;
                  font-weight: 700;


                }
              }
            }
          }
        }

        /* Profile Name */
        #profile-name {

          a {
            padding-right: 10px;
            font-weight: 700;
            font-size: 15px;
            cursor: pointer;
            color: #fff;
            transition: all .15s ease-in-out;

            &:hover {
              color: $mainColor;
              text-decoration: none;
            }
          }

          i {
            cursor: pointer;

            &:hover {
              color: $mainColor;
            }
          }
        }

        /* Profile Status*/
        #profile-setting {
          display: block;
          font-weight: 700;
          color: #9a9fbf;
          font-size: 10px;
          margin-top: -5px;

        }

        @media (min-width: 1150px) {
          display: block;
        }

      }

      @media (min-width: 770px) {
        display: flex;
      }
    }

    @media (max-width: 770px) {
      width: 100%;

    }
  }

}

// left and right Side Bar 
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 70px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
  z-index: 2000;

  @media (max-width: 770px) {
    height: 70px;
  }

  /* Logo Container */
  .logo {
    display: block;
    text-decoration: none;
    cursor: pointer;

    /* Logo Letter */
    span:first-of-type {
      width: 70px;
      height: 70px;
      display: inline-block;
      color: #fff;
    }

    /* Logo Word */
    span:last-of-type {
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      position: relative;
      top: -10px;
      left: 10px;
      display: none;
    }
  }

  /* Menu */
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 70px;
    min-width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;

    /* Scroll Bar */
    /* width */
    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $mainColor;
    }

    li {
      padding: 15px 0px;
    }

    a {
      text-decoration: none;
      color: #9a9fbf;
      cursor: pointer;

      i {
        transition: all .15s ease-in-out;
        width: 25px;
        font-size: 20px;
        margin: 0 22.5px;
      }

      span {
        font-size: 14px;
        display: none;
        font-weight: 500;
      }

      img {
        width: 34px;
        height: 34px;
        margin: 0 18px;
        border-radius: 50%;
      }


    }

    .active {
      color: $mainColor;
      font-weight: 700;
    }
  }
}

/* Left Fixed Side Bar */
#left-sidebar {
  left: 0;

  /* Logo Container */
  .logo {
    background-color: $mainColor;

    /* Logo Letter */
    span:first-of-type {
      padding-left: 16px;
      font-weight: 900;
      font-size: 55px;
      line-height: 1.2;
    }
  }

  /* Menu */
  .menu {
    &::-webkit-scrollbar-thumb {
      background: $mainColor;
      border: 1px solid #fff;
      border-radius: 5px;
    }

    a:hover {
      color: $mainColor;
    }

  }
}

/* right Fixed Side Bar */
#right-sidebar {
  right: 0;
  direction: rtl;

  li {
    direction: ltr;
  }

  /* Logo Container */
  .logo {
    background-color: $secondryColor;
    direction: ltr;

    /* Logo Letter */
    span:first-of-type {
      padding-left: 20px;
      font-size: 30px;
      line-height: 2.2;
    }
  }

  /* Menu */
  .menu {
    &::-webkit-scrollbar-thumb {
      background: $secondryColor;
      border: 1px solid #fff;
      border-radius: 5px;
    }

    a:hover {
      color: $secondryColor;

    }
  }

}

#leftSettingsContainer {
  left: -316px;
  > i {
    left: 100%;
    background-color: $mainColor;
  }
  .settings {
    border: 1px solid $mainColor;
  }
}

#rightSettingsContainer {
  right: -316px;
  > i {
    right: 70px;
    background-color: $secondryColor;
  }
  .settings {
    border: 1px solid $secondryColor;
  }
}


// Setting Section 
.settingsContainer {
  position: fixed;
  top: calc(50% - 175px);
  z-index: 9999;
  transition: all .8s ;
  cursor: pointer;

  > i {
    color: #fff;
    padding: 7px 7px;
    font-size: 55px;
    width: 70px;
    height: 70px;
    position: relative;
    top: 155px;
  }

  .settings {
    border-radius: 5px;
    background-color: #fff;
    width: 250px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }

}
