/* All colors */
@import '../../assets/css/color/color.scss';

#newsfeed {

  /* Card Block */
  .card-block {
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    margin-bottom: 15px;
    background-color: #fff;
  }

  /* Any Paragraph Style */
  pre {
    margin: 20px 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #888da8;
  }

  /* Main Colors */
  .mainColor {
    color: $mainColor !important;
  }

  /* post-form */
  #post-form {
    background-color: #fff;
    max-width: 870px;
    margin: auto;
    margin-bottom: 20px;

    /* Post Header */
    header {
      display: flex;
      border-bottom: 1px solid #e6ecf5;
      height: 160px;
      overflow: hidden;
      transition: all 0.2s ease-in-out;

      /* Onhover */
      &:focus-within {
        border-bottom: 1px solid $mainColor;
      }

      /* Post Profile Pic */
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 25px 0 0 25px;
      }

      textarea {
        width: 100%;
        height: 160px;
        resize: none;
        padding: 25px 25px;
        outline: 0;
        border: 0;
        color: $mainColor;
      }
    }

    /* Post Footer */
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      height: 80px;

      @media (max-width: 470px) {
        flex-direction: column;
        height: 120px;
        justify-content: space-evenly;
        padding-bottom: 10px;
      }

      #post-icons {
        margin-left: 15px;

        i {
          color: #c2c5d9;
          font-size: 25px;
          padding: 15px;
          cursor: pointer;
          transition: all 0.15s ease;

          &:hover {
            color: $mainColor;
          }
        }
      }

      #post-btns {

        div,
        input {
          padding: 0.8rem 2.1rem;
          font-size: 0.688rem;
          border-radius: 0.3rem;
          color: #888da8;
          border: 1px solid;
          text-align: center;
          transition: all 0.15s ease-in-out;
          font-weight: 700;
          margin-right: 15px;
          cursor: pointer;
          border-color: #d8dbe6;
          display: inline-block;
          transition: all 0.15s ease-in-out;
        }

        input {
          color: #fff;
          border-color: $mainColor;
          background-color: $mainColor;

          &:hover {
            color: $mainColor;
            background-color: #fff;
            border-color: $mainColor;
          }
        }

        div {
          color: #fff;
          border-color: $secondryColor;
          background-color: $secondryColor;

          &:hover {
            color: $secondryColor;
            background-color: #fff;
            border-color: $secondryColor;
          }
        }

      }
    }
  }

  // Posts Container
  #posts {
    margin: auto;

    // Post Container
    .posts {
      margin-bottom: 15px;

      // Icons
      i {
        cursor: pointer;
        font-size: 25px;
        font-weight: 400;
        line-height: 1.5;

        &:hover {
          color: $mainColor;
        }
      }

      // Header
      header {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        // Profile Image
        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          margin-right: 15px;
        }

        //Post Info
        .posts-info {
          p {
            margin: 0;
            font-weight: 700;
            color: #515365;
            line-height: 1.3;
            cursor: pointer;
            transition: all 0.15s ease-in-out;

            &:hover {
              color: $mainColor;
            }
          }

          span {
            font-size: 0.812rem;
            font-weight: 400;
            line-height: 1.5;
            color: #888da8;
          }
        }

        //End Post Info

        //post details
        .post-det {
          position: relative;

          // Post Details Icon
          .post-det-icon {
            color: #c2c5d9;
          }

          // Post Details Container
          .post-det-cont {
            position: absolute;
            padding: 10px 20px;
            top: 100%;
            right: 0px;
            background-color: #fff;
            display: none;
            width: 180px;
            box-shadow: 0 0 34px 0 rgba(63, 66, 87, .1);
            border-radius: 4px;
            z-index: 500;

            ul {
              padding: 7px 0;
              font-size: 14px;
              color: #515365;
              font-weight: 700;
              margin: 0;
              list-style: none;

              li:hover {
                color: $mainColor;
                cursor: pointer;
              }
            }

            &::before {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              bottom: 100%;
              right: 5px;
              border-bottom: 10px solid #fff;
              border-right: 10px solid transparent;
              border-left: 10px solid transparent;
            }
          }

        }

      }

      // End Header

      // Post Card
      .post-card {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid #e6ecf5;
        border-bottom-color: white;
        background-color: #fff;
        padding: 15px 25px 0 25px;

        // Post Content
        .posts-content {

          // Just Text
          .post-text {
            margin: 20px 0;
            font-weight: 400;
          }

          // Video Post
          .posts-video {
            border: 1px solid #e6ecf5;
            border-radius: 3px;
            overflow: hidden;
            margin: 20px 0;
            display: flex;
            flex-direction: row;
            min-height: 250px;

            @media (max-width: 770px) {
              flex-direction: column;
            }

            //Video Contaienr
            .video-container {
              position: relative;
              min-height: 250px;
              width: auto;

              @media (max-width: 770px) {
                width: 100%;
              }

              //Poster Of Video
              img {
                height: 100%;
                width: 100%;
              }

              i {
                position: absolute;
                top: 40%;
                left: 43%;
                color: #fff;
                font-size: 50px;
                line-height: 1;
                cursor: pointer;
                background-color: rgba(255, 99, 71, 0.5);
                border-radius: 50%;

                &:hover {
                  color: $mainColor;
                  background-color: rgba(236, 222, 219, 0.5);
                }
              }
            }

            // End Video Contaienr

            // info Of Video
            .video-info {
              padding: 20px;
              display: flex;
              flex-direction: column;

              // Title Of the video
              p {
                font-weight: 400;
                cursor: pointer;
                color: #515365;
                font-size: 1.375rem;
              }

              //description Of the video
              span {
                font-weight: 400;
                line-height: 1.5;
                color: #888da8;
                font-size: 13px;
                margin-bottom: 15px;
              }

              //link referrence
              a {
                font-size: 13px;
                color: #9a9fbf;

                &:hover {
                  color: $mainColor;
                }
              }
            }

            // End info Of Video

          }

          // End Video Post

        }

        // End Post Content

        // Footer
        .posts-footer {
          border-top: solid 1px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          position: relative;

          .post-status {
            display: flex;
            height: 80px;
            align-items: center;
            margin-bottom: 5px;
            
            .likes-container {
              display: flex;
              align-items: center;
            }
            .img-likes-cont {
              display: flex;
              max-width: 100px;
              overflow: hidden;

            }
            //imgs like
            .img-likes{
              width: 25px;
              height: 25px;
              border-radius: 50%;
              box-shadow: 2px 2px 4px rgba(0,0,0,.2);
            }

            // Like Link
            a {
              color: #c2c5d9;
              display: flex;
              align-items: center;

              &:hover {
                color: $mainColor;
              }
            }
          }

          .com-share {
            margin-left: auto;
            display: flex;

          }

          span {
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            padding: 0 15px 0 10px;

            &:hover {
              color: $mainColor;
            }
          }
        }

        // End Post Footer

      }

      // End Post Card

      // Comment Container
      .post-comments {
        display: flex;
        flex-direction: column;
        margin-top: 1px;

        // comment Input
        .comment-input {
          position: relative;
          text-align: center;

          input {
            border: 0;
            outline: 0;
            padding: 15px 100px 15px 30px;
            width: 100%;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-right: 5px solid $mainColor;
            border-bottom: 5px solid $mainColor;
            color: $mainColor;

          }

          i {
            position: absolute;
            top: 10px;
            color: $mainColor;

            &:hover {
              color: $secondryColor;
            }
          }

          i:last-of-type {
            right: 20px;
          }

          i:first-of-type {
            right: 55px;
          }

        }

        //Just For some Animation
        .justForSomeAnimation {
          display: none;

          // All Comments Here
          .all-comments {
            max-height: 250px;
            overflow: auto;

            /* Track */
            &::-webkit-scrollbar-track {
              background: $mainColor;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: $secondryColor;
            }

            // Comment
            article {
              background-color: #fafbfd;
              border: 1px solid #e6ecf5;
              margin: 2px 30px;
              padding: 15px;

              //footer
              footer {
                display: flex;

                >a {
                  color: #c2c5d9;
                  display: flex;
                  align-items: center;
                  cursor: pointer;
                  font-weight: 400;
                  line-height: 1.5;

                  &:hover {
                    color: $mainColor;
                  }

                  span {
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.5;
                    padding: 0 15px 0 10px;

                    &:hover {
                      color: $mainColor;
                    }
                  }
                }


                // Icons
                i {
                  font-size: 25px;
                }

              }

              // End Footer

            }

            //End Comment

          }

          //End All Comments
        }

        //End Just For Some Animation
      }

      // End Comment Container


    }

    // End Post Container

  }

  //End Posts Container
}